**/gen-sysc/**
**/release/**

!**/chi_icn_SysSys/include/**
!**/chi_icn_SysSys/src/**
!**/chi_icn_Sys/release/chi_icn_SysSys.cf_sysBuild_0/CMakeLists.txt
!**/chi_icn_Sys/release/chi_icn_SysSys.cf_sysBuild_0/Makefile
**/.vscode/**
